In [1]:
import pandas as pd

In [4]:
s = pd.Series([1, 2, 3, 4])

In [5]:
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
data = {'Nombre' : ['Luis', 'Ana', 'Maria'], 'Edad': [23, 30, 15]} #Diccionario
df = pd.DataFrame(data) #Creamos DataFrame
print(df)

  Nombre  Edad
0   Luis    23
1    Ana    30
2  Maria    15